<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="baseDir">/logs/placetopay-lightbox/</Property>
        <Property name="applicationName">placetopay-lightbox</Property>
        <!--<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}] [%p] [%c{1.}]:    %m%n</Property>-->
        <Property name="LOG_PATTERN">[%tn,%tid] [%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}] [%p{lowerCase=false}] [%c{1.}] [%M]:   %m%n</Property>
    </Properties>
    <Appenders>
    
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <RollingFile name="RollingFile" fileName="${baseDir}/${applicationName}.log" 
                     filePattern="${baseDir}/%d{yyyy-MM-dd}/${applicationName}.%d{yyyy-MM-dd-HH}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="RollingFile"/>
        </Async>
    </Appenders>
    <Loggers>

        <Root level="info">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>